/* ZUIX 2.0 Design System - CSS Variables */

/* _Colour Theming - Mode 1 */

:root {
  --Zigbang-Orange-50: #FFF7F0FF;
  --Zigbang-Orange-100: #FFE8D9FF;
  --Zigbang-Orange-200: #FFC39BFF;
  --Zigbang-Orange-300: #FFAC76FF;
  --Zigbang-Orange-400: #FF8737FF;
  --Zigbang-Orange-500: #FF781EFF;
  --Zigbang-Orange-500-90: #FF781EE5;
  --Zigbang-Orange-600: #FF6905FF;
  --Zigbang-Orange-600-90: #FF6905E5;
  --Zigbang-Orange-700: #E45B00FF;
  --Zigbang-Orange-800: #8C3A03FF;
  --Zigbang-Orange-900: #662A02FF;
  --Zigbang-Navy-50: #F5F7FAFF;
  --Zigbang-Sub-Brand-APT-PRO: #025FD2FF;
  --Zigbang-Sub-Brand-Zikim: #009D41FF;
  --Zigbang-Navy-100: #E4EBF2FF;
  --Zigbang-Navy-200: #BCCCE0FF;
  --Zigbang-Navy-300: #83ABE0FF;
  --Zigbang-Navy-400: #588AD0FF;
  --Zigbang-Navy-500: #25599AFF;
  --Zigbang-Navy-600: #092C59FF;
  --HGNN-Purple-50: #F7F6FEFF;
  --HGNN-Purple-100: #EEEDFCFF;
  --HGNN-Purple-200: #DEDBFAFF;
  --HGNN-Purple-300: #C8C4F6FF;
  --HGNN-Purple-400: #BCB8F4FF;
  --HGNN-Purple-500: #ABA6F1FF;
  --HGNN-Purple-600: #9B94EFFF;
  --HGNN-Purple-700: #8A82ECFF;
  --HGNN-Purple-800: #7971E9FF;
  --HGNN-Purple-900: #695FE7FF;
  --HGNN-Purple-950: #584DE4FF;
  --HGNN-Purple-Legacy: #4E54ACFF;
  --base-black: #000000FF;
  --base-white: #FFFFFFFF;
  --base-transparent: #FFFFFF00;
  --gray-50: #F9FAFBFF;
  --slate-50: #F8FAFCFF;
  --slate-100: #F1F5F9FF;
  --slate-200: #E2E8F0FF;
  --slate-300: #CBD5E1FF;
  --slate-400: #94A3B8FF;
  --slate-500: #64748BFF;
  --slate-600: #475569FF;
  --slate-700: #334155FF;
  --slate-800: #1E293BFF;
  --slate-900: #0F172AFF;
  --gray-100: #F3F4F6FF;
  --gray-200: #E5E7EBFF;
  --gray-300: #D1D5DBFF;
  --gray-400: #9CA3AFFF;
  --gray-500: #6B7280FF;
  --gray-600: #4B5563FF;
  --gray-700: #374151FF;
  --gray-800: #1F2937FF;
  --gray-900: #111827FF;
  --neutral-50: #FAFAFAFF;
  --neutral-100: #F5F5F5FF;
  --neutral-100-80: #F5F5F5CC;
  --neutral-200: #E5E5E5FF;
  --neutral-300: #D4D4D4FF;
  --neutral-400: #A3A3A3FF;
  --neutral-500: #737373FF;
  --neutral-600: #525252FF;
  --neutral-700: #404040FF;
  --neutral-800: #262626FF;
  --neutral-900: #171717FF;
  --red-50: #FFECEBFF;
  --red-100: #FAD4CFFF;
  --red-200: #FCBEBEFF;
  --red-300: #FF9696FF;
  --red-400: #FD685EFF;
  --red-500: #FA4E3EFF;
  --red-600: #ED3A3CFF;
  --red-700: #D11403FF;
  --red-800: #AF0101FF;
  --red-900: #840202FF;
  --blue-50: #EBF5FFFF;
  --blue-100: #DCEDFFFF;
  --blue-200: #BBDCFFFF;
  --blue-300: #89C3FFFF;
  --blue-400: #61B0FFFF;
  --blue-500: #3798FAFF;
  --blue-600: #0078F1FF;
  --blue-700: #025FD2FF;
  --blue-800: #013FB4FF;
  --blue-900: #0A3791FF;
}

/* Colour Semantics - Light */

:root {
  --background: var(--base-white);
  --foreground: var(--gray-800);
  --primary: var(--Zigbang-Orange-600);
  --primary-foreground: var(--base-white);
  --primary-hover: var(--Zigbang-Orange-700);
  --secondary: var(--neutral-100);
  --secondary-foreground: var(--gray-700);
  --secondary-hover: var(--neutral-200);
  --muted: var(--neutral-100);
  --muted-foreground: var(--gray-500);
  --accent: var(--Zigbang-Orange-50);
  --accent-foreground: var(--Zigbang-Orange-700);
  --destructive: var(--red-600);
  --destructive-hover: var(--red-700);
  --destructive-foreground: var(--base-white);
  --border: var(--gray-200);
  --input: var(--gray-300);
  --ring: var(--blue-600);
}

/* Tailwind CSS Classes - Value */

:root {
  --font-family-sans: Pretendard;
  --font-family-serif: Georgia;
  --font-family-mono: Menlo;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;
  --font-size-5xl: 48px;
  --font-size-6xl: 60px;
  --font-size-7xl: 72px;
  --font-size-8xl: 96px;
  --font-size-9xl: 128px;
  --font-style-italic: italic;
  --font-style-not-italic: normal;
  --font-weight-thin: 100px;
  --font-weight-extralight: 200px;
  --font-weight-light: 300px;
  --font-weight-normal: 400px;
  --font-weight-medium: 500px;
  --font-weight-semibold: 600px;
  --font-weight-bold: 700px;
  --font-weight-extrabold: 800px;
  --font-weight-black: 900px;
  --font-tracking-tighter: -0.800000011920929px;
  --font-tracking-tight: -0.4000000059604645px;
  --font-tracking-normal: 0px;
  --font-tracking-wide: 0.4000000059604645px;
  --font-tracking-wider: 0.800000011920929px;
  --font-tracking-widest: 1.600000023841858px;
  --font-leading-3: 12px;
  --font-leading-4: 16px;
  --font-leading-5: 20px;
  --font-leading-6: 24px;
  --font-leading-7: 28px;
  --font-leading-8: 32px;
  --font-leading-9: 36px;
  --font-leading-10: 40px;
  --font-leading-none: 0px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-28: 112px;
  --spacing-32: 128px;
  --spacing-36: 144px;
  --spacing-40: 160px;
  --spacing-44: 176px;
  --spacing-48: 192px;
  --spacing-52: 208px;
  --spacing-56: 224px;
  --spacing-60: 240px;
  --spacing-64: 256px;
  --spacing-72: 288px;
  --spacing-80: 320px;
  --spacing-96: 384px;
  --spacing-px: 1px;
  --border-width-0: 0px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-8: 8px;
  --opacity-0: 0px;
  --border-radius-none: 0px;
  --border-radius-sm: 2px;
  --border-radius-default: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;
  --border-radius-2xl: 16px;
  --border-radius-3xl: 24px;
  --border-radius-full: 9999px;
  --opacity-5: 5px;
  --opacity-10: 10px;
  --opacity-15: 15px;
  --opacity-20: 20px;
  --opacity-25: 25px;
  --opacity-30: 30px;
  --opacity-35: 35px;
  --opacity-40: 40px;
  --opacity-45: 45px;
  --opacity-50: 50px;
  --opacity-55: 55px;
  --opacity-60: 60px;
  --opacity-65: 65px;
  --opacity-70: 70px;
  --opacity-75: 75px;
  --opacity-80: 80px;
  --opacity-85: 85px;
  --opacity-90: 90px;
  --opacity-95: 95px;
  --opacity-100: 100px;
  --blur-none: 0px;
  --blur-sm: 4px;
  --blur-default: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --min-width-0: 0px;
  --min-width-1: 4px;
  --min-width-2: 8px;
  --min-width-3: 12px;
  --min-width-4: 16px;
  --min-width-5: 20px;
  --min-width-6: 24px;
  --min-width-7: 28px;
  --min-width-8: 32px;
  --min-width-9: 36px;
  --min-width-10: 40px;
  --min-width-11: 44px;
  --min-width-12: 48px;
  --min-width-14: 56px;
  --min-width-16: 64px;
  --min-width-20: 80px;
  --min-width-24: 96px;
  --min-width-28: 112px;
  --min-width-32: 128px;
  --min-width-36: 144px;
  --min-width-40: 160px;
  --min-width-44: 176px;
  --min-width-48: 192px;
  --min-width-52: 208px;
  --min-width-56: 224px;
  --min-width-60: 240px;
  --min-width-64: 256px;
  --min-width-72: 288px;
  --min-width-80: 320px;
  --min-width-96: 384px;
  --max-width-0: 0px;
  --max-width-xs: 320px;
  --max-width-sm: 384px;
  --max-width-md: 448px;
  --max-width-lg: 512px;
  --max-width-xl: 576px;
  --max-width-2xl: 672px;
  --max-width-3xl: 768px;
  --max-width-4xl: 896px;
  --max-width-5xl: 1024px;
  --max-width-6xl: 1152px;
  --max-width-7xl: 1280px;
  --screens-sm: 640px;
  --screens-md: 768px;
  --screens-lg: 1024px;
  --screens-xl: 1280px;
  --screens-2xl: 1536px;
  --skew-0: 0px;
  --skew-1: 1px;
  --skew-2: 2px;
  --skew-3: 3px;
  --skew-6: 6px;
  --skew-12: 12px;
  --disabled: var(--opacity-50);
  --margin-mt-1: 4px;
  --margin-mt-1-5: 6px;
  --margin-mt-2: 8px;
  --margin-mt-4: 16px;
  --margin-mt-5: 20px;
}

